{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<div class='bg-gray-800 text-white p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72'>
    <div class='m-6'>
        <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>About <span class='bg-clip-text bg-gradient-to-r from-cyan-300 to-blue-400 text-transparent'>RevFrame</span></p>
        <p class='text-justify'>
            &#128075; Howdy,<br><br>

            My name is Revanth and I am a highly motivated and experienced developer with a passion for creating innovative solutions for the internet.<br><br>
            
            RevFrame is a powerful web framework designed for ML/AI/NLP researchers who want to easily convert their models into web applications. Built on top of the popular Django and Flask frameworks, RevFrame provides a flexible and user-friendly environment for developers to create custom applications that can be easily deployed to the web.<br><br>

            With RevFrame, researchers can seamlessly integrate their models into the application, allowing users to interact with the model through a user-friendly interface. The framework also provides an API that exposes endpoints to the model, making it easy for other applications to interact with the model as well.<br><br>

            In addition to its powerful functionality, RevFrame also boasts a beautiful and intuitive UI that makes it easy for users to navigate and interact with the application. The framework also includes a built-in blog feature, allowing researchers to share updates and insights about their models with their users and the broader community.<br><br>

            Whether you are a seasoned ML/AI/NLP researcher or just starting out, RevFrame is the perfect tool to help you bring your models to life on the web.
            
        </p>
        <div class='my-10'>
            <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Prerequisites</p>
            <div class='grid grid-cols-1 md:grid-cols-2 md:space-x-4 lg:space-x-10'>
                <div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Python</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="python bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">HTML/JS/CSS</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="html bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Flask</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="flask bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                </div>

                <div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Docker</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="docker bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="progress-bar text-base font-medium my-3">API</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="py bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        
        .progress-bar {
            animation: progress-bar-animation 1s normal forwards;
        }
        @keyframes progress-bar-animation {
            0%   {  width: 0%; }
            100% {  width: 100%; }
        }
        .html {
            animation: html-animation 3s normal forwards;
        }
        @keyframes html-animation {
            0%   {  width: 0%; }
            100% {  width: 95%; }
        }
        .css {
            animation: css-animation 3s normal forwards
        }
        @keyframes css-animation {
            0%   {  width: 0%; }
            100% {  width: 85%; }
        }
        .js {
            animation: js-animation 3s normal forwards
        }
        @keyframes js-animation {
            0%   {  width: 0%; }
            100% {  width: 70%; }
        }
        .py {
            animation: py-animation 3s normal forwards
        }
        @keyframes py-animation {
            0%   {  width: 0%; }
            100% {  width: 90%; }
        }
        .sql {
            animation: sql-animation 3s normal forwards
        }
        @keyframes sql-animation {
            0%   {  width: 0%; }
            100% {  width: 80%; }
        }
    </style>

    <script>
        let html_progress = 0;
        let html_invervalSpeed = 10;
        let html_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
            let html_bar = document.querySelector('.py');
            html_progressInterval = setInterval(function(){
            html_progress += html_incrementSpeed;
            html_bar.style.width = html_progress + "%";
            if(html_progress >= 95){
                clearInterval(html_progressInterval);
            }
        }, html_invervalSpeed);
    });

        let css_progress = 0;
        let css_invervalSpeed = 10;
        let css_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
            let css_bar = document.querySelector('.html');
            css_progressInterval = setInterval(function(){
            css_progress += css_incrementSpeed;
            css_bar.style.width = css_progress + "%";
            if(css_progress >= 80){
                clearInterval(css_progressInterval);
            }
        }, css_invervalSpeed);
    });

        let js_progress = 0;
        let js_invervalSpeed = 10;
        let js_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
            let js_bar = document.querySelector('.docker');
            js_progressInterval = setInterval(function(){
            js_progress += js_incrementSpeed;
            js_bar.style.width = js_progress + "%";
            if(js_progress >= 60){
                clearInterval(js_progressInterval);
            }
        }, js_invervalSpeed);
    });

    let py_progress = 0;
    let py_invervalSpeed = 10;
    let py_incrementSpeed = 1;
    document.addEventListener("DOMContentLoaded", function(){
        let py_bar = document.querySelector('.api');
        py_progressInterval = setInterval(function(){
        py_progress += py_incrementSpeed;
        py_bar.style.width = py_progress + "%";
        if(py_progress >= 80){
            clearInterval(py_progressInterval);
        }
    }, py_invervalSpeed);
});

    let sql_progress = 0;
    let sql_invervalSpeed = 10;
    let sql_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
        let sql_bar = document.querySelector('.flask');
        sql_progressInterval = setInterval(function(){
        sql_progress += sql_incrementSpeed;
        sql_bar.style.width = sql_progress + "%";
        if(sql_progress >= 85){
            clearInterval(sql_progressInterval);
        }
    }, sql_invervalSpeed);
});

    </script>
</div>

{% endblock %}